.vscode
.bsp
.bloop
.metals
.idea

target/
metals.sbt

*.semanticdb

/libraries/*/bin/
/examples/*/bin/
!/examples/*/bin/lua/main.lua
node_modules/

out/
src-gen/
lib/

vm/js/**/lib/

*.argonvm
*.artube

